
body {
  background-color: #549DBE;
}

span {
  color: white;
}

h1 {
  font-size: 95px;
  font-family: Open Sans;
}

p {
  font-family:monospace;
  font-size: 20px;
  color:#262626;
}

h3 {
  color:#262626;
  margin-top: -12px;
}

h3:hover {
  color: white;
}

a {
 text-decoration: none;
}
.middle > .column {
 height: 400px;
}


.row, .column {
  box-sizing: border-box;
}

/*Clear-fix so that rows can containt content*/
.row:before, .row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

/*floating columns so that inside the body row, all columns are inline */
.column {
  position: relative;
  float: left;
  text-align: center;
  width: 250px;
  margin: 0% ;
}

/* containing images inside their columns with specific height */
img {
  max-width: 100%;
  height: 150px;
  align-items: center;
}

.footer > .column {
  width: 100%;
}

.header > .column {
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .column {
    width: 100%;
  }
}
