
body {
  background-color: #549DBE;
}

span {
  color: white;
}

h1 {
  font-size: 50px;
  font-family: Open Sans;
}

p {
  font-family:monospace;
  font-size: 20px;
  text-align: center;
}

h3 {
  width: 300px;
  height: 300px;
  border: 2px solid white;
}

h3:hover {
  color: white;
  background-color: red;
}

a {
 text-decoration: none;
}
.middle > .column {
 height: 300px;
 width: 300px;
}

.footer > .column {
  margin-top: 400px;;
}

.row, .column {
  box-sizing: border-box;
}

/*Clear-fix so that rows can containt content*/
.row:before, .row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

/*floating columns so that inside the body row, all columns are inline */
.column {
  position: relative;
  float: left;
  text-align: center;
  width: 250px;
  margin: 0;
}


.footer > .column {
  width: 100%;
  padding-top: 80px;
}

.header > .column {
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .column {
    width: 100%;
  }
}
